<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">
      <strong>Notes App</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pull-right" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/secret">Secret Page</a>
        </li>
        <li class="nav-item ">
          <button id=login class="btn btn-default" (click)="onLogin()">Login</button>
        </li>
        <li class="nav-item">
          <button id=logout class="btn btn-default" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>