<form class="col s12 white" #noteCreationForm="ngForm" (ngSubmit)="createNote(noteCreationForm)">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name="content" #content="ngModel" [(ngModel)]="note.content">
        <label>Write your thoughts here!!!..</label>
      </div>
      <div class="input-field col s6">
        <input type="text" name="title" #title="ngModel" [(ngModel)]="note.title">
        <label>Title of Thought</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!noteCreationForm.valid" class="btn-large btn-submit" type="submit">Create Note</button>
      </div>
    </div>
  </form>

  <div id="restresponse">
      <div *ngIf="undefined===response">Loading....</div>
      <p *ngIf="response['code']===0">thought created with id {{response['data']}} succssfully</p>
  </div>